@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash-grotesk";
  src: url("/fonts/ClashGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "clash-grotesk-bold";
  src: url("/fonts/ClashGrotesk-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "clash-grotesk";
}

.font-bold {
  font-family: "clash-grotesk-bold";
}

.addShadow {
  box-shadow: 0px 3.85px 96.29px 0px #cacaca33;
}
